html {
    background-color: #FF6D2C;
}

h1 {
    text-align: center;
    color: #FF6D2C;
}

body {
    background-color: #201F29;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #201F29;
    padding: 10%;
}

div{
    background-color: #201F29;
}

.div-boks{
    position: relative;
    display: inline-flexbox;
    margin: 20px;
}

#canvas1 {
    background: rgb(54, 54, 54);
    width: 70%;
    height: 30%;
    top: 50px;
    left: 50px;
}

#canvas2 {
    position: right;
    justify-content: right;
    background: red;
    width: 200px;
    height: 200px;
    top: 300;
    left: 300;
}

.navnOverskrift {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #201F29;
    width: 100%;
    aspect-ratio: 8 / 1;
    border-width: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-wrap: wrap;
    /* align-content: center; */
    margin-bottom: 20px;
}

.boks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(41, 41, 41);
    width: 20%;
    aspect-ratio: 1;
    border: 30px solid #FF6D2C;
    border-width: 5px;
}

.ind-boks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(255, 0, 157);
    width: 80%;
    height: 20%;
    top: 200;
    left: 300;
    border: 30px solid purple;
    border-width: 5px;
}

.hjem-knapp {
    display: flex;
}

.knapp {
    display: inline-block;
    font-size:larger;
    text-align: center;
    margin-left: 5px;
    width: 100px;
    border: 2px solid #FF6D2C;
    color: #FF6D2C;
    border-radius: 5px;
}